@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

body {
  background: #4cb8c4;
  background: -webkit-linear-gradient(to right, #3cd3ad, #4cb8c4);
  background: linear-gradient(to right, #3cd3ad, #4cb8c4);
}
.todo-form {
  margin-top: 8rem;
  width: 90vw;
  max-width: 40rem;
  box-shadow: 10px 20px 15px #464e5e;
  .title-todos {
    font-family: "Lobster", cursive;
    color: #023b4e;
  }
}
.todo-item {
  width: 75vw;
  max-width: 35rem;
  .btn-group {
    opacity: 0.5;
  }
  .task-name {
    font-size: 18px;
    color: #066a8b;
  }
  &:hover {
    .btn-group {
      opacity: 1;
    }
  }
}

.btn-delete,
.btn-edit {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .task-form {
    margin: 0 2rem;
  }
}
