.title-modal {
  color: #023b4e;
}
.btn-submit {
  background-color: #3c8dbc;
  &:hover {
    background-color: #3c8dbc;
  }
}
.btn-cancel {
  &:hover {
    color: #dd4b39;
    border-color: #dd4b39;
  }
}
