$input-bg: #e8f0fe;

body {
  background: #4cb8c4;
  background: -webkit-linear-gradient(to right, #3cd3ad, #4cb8c4);
  background: linear-gradient(to right, #3cd3ad, #4cb8c4);
}

.login-container {
  margin: 8rem 0;
  width: 100vw;
  max-width: 35rem;
  box-shadow: 10px 20px 15px #464e5e;
}
.login-form {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -5px 0px inset;
  .label {
    font-size: 14px;
  }
  .form-control {
    background-color: $input-bg;
    border-radius: 0;
    font-size: 14px;
  }
}
.text-msg {
  font-size: 14px;
}
